<footer class="footer1">
    <div class="container">
    
    <div class="row"><!-- row -->
                
                    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                    <ul class="list-unstyled clear-margins"><!-- widgets -->
                            
                              <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        
                                    
                                    
                                  
                        
                  </li>
                                
                            </ul>
                             
                          
                    </div><!-- widgets column left end -->
                    
                    
                    
                    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                
                    <ul class="list-unstyled clear-margins"><!-- widgets -->
                            
                              <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        
                                   
                                  
                        
                  </li>
                                
                            </ul>
                             
                          
                    </div><!-- widgets column left end -->
                    
                    
                    
                    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                
                    <ul class="list-unstyled clear-margins"><!-- widgets -->
                            
                              <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        
                                    
                                    
                                
                        
                  </li>
                                
                            </ul>
                             
                          
                    </div><!-- widgets column left end -->
                    
                    
                    <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                    
                       
                        
                            <ul class="list-unstyled clear-margins"><!-- widgets -->
                            
                              <li class="widget-container widget_recent_news"><!-- widgets list -->
                        
                                   
                                    
                                  
                                    
                                    <div class="social-icons">
                                    
                                      <ul class="nomargin">
                                        
                    <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                  <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                  <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                        
                                        </ul>
                                    </div>
                            </li>
                              </ul>
                           </div>
                    </div>
    </div>
    </footer>


<div class="footer-bottom fixed-bottom">

    <div class="container">
  
      <div class="row">
  
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  
          <div class="copyright">
  
            © 2015

            <a href="">Politica</a>
  
          </div>
  
        </div>
  
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  
          <div class="design">
  
             <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design Development by Webenlance</a>
             <div class="accordion">
                <h2 class="acc_trigger"><a href="#">¿Puedo ayudarte?</a></h2>
                <div class="acc_container">
                  <div class="block">
                      <iframe
                        width="350"
                        height="430"
                        src="https://console.dialogflow.com/api-client/demo/embedded/b260534a-b755-48ed-b4db-22287d8716ad">
                    </iframe>
                  </div>
                </div>
                
              </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>


 





    