.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

#wrapper {
    background: #ccc;
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0; /* <---hide by default */
  }
  #wrapper.open {
    max-height: 100px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
  }